{% extends 'base.html' %}

{% block content %}
<h1 class="text-success">About Us</h1>
<h2>Hello I am {{name}}</h2>
<p>I have been playing Guitar for about 18 years and working on them for just as long. While my strengths are focusing
    on basic set ups and pickup swaps, I also offer full repair services and fret leveling and crowning. I own several
    guitars and have performed my own work on them for the last 10 years. For examples of my work, stop in the shop and
    I can show you what I can do.</p>

<h2>Hobbies List</h2>

<ul>
    {% for hobbie in hobbies %}
    <li>{{hobbie}}</li>
    {% endfor %}
</ul>

{% endblock content %}