{% extends 'base.html' %}

{% block content %}
<h1>Login Here</h1>
<h2>Use the form below to login to the system</h2>

<div class="container mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="container mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
</div>
{% endblock content %}
